{% extends 'base.html' %}
{% block content%}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-bolder">About Us...</h1>
            <p class="lead fw-normal text-white-50 mb-0">Welcome to My ecommerce website.</p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <br> <br> <br>
                <p align="justify">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec mauris neque, egestas vitae
                    scelerisque nec, finibus sed orci. Aliquam eget interdum ligula. Nulla facilisi. Proin magna ante,
                    cursus ut nibh nec, aliquet semper metus. Ut non eros et sapien pretium facilisis. Vivamus non
                    venenatis felis, ac porta nibh. Nam non risus quis eros porta sagittis sed quis est. In quis ipsum
                    est. Aenean pulvinar dapibus erat, quis posuere leo condimentum vel. Maecenas iaculis eros in semper
                    tristique. Vestibulum et pulvinar urna. Donec iaculis elit sit amet risus euismod vestibulum.
                    Vestibulum vitae est ac ante pharetra condimentum id a nulla. Duis nunc ex, malesuada a molestie a,
                    condimentum interdum magna.
                    <br> <br> <br>
                    Pellentesque id malesuada purus. Nam justo mauris, ullamcorper eget lorem non, tempor ultrices
                    lacus. Aliquam eleifend massa et fringilla vulputate. Morbi tincidunt aliquam nisi, a facilisis
                    libero rutrum vulputate. Aenean orci arcu, porttitor rhoncus volutpat sit amet, feugiat at sapien.
                    Praesent condimentum consectetur convallis. Sed volutpat ac lectus vitae ornare. Phasellus blandit
                    eu justo in aliquam. Sed a lacus porttitor, semper urna sed, iaculis eros.
                    <br> <br> <br>
                    Nulla neque dolor, egestas at ornare et, mollis sit amet erat. Duis posuere nulla nibh. Sed
                    lobortis, sem eu blandit pretium, mauris odio accumsan augue, ac posuere sem metus non tortor. Duis
                    non fringilla augue, a lacinia erat. Nunc aliquam turpis quis risus consectetur efficitur. Morbi
                    egestas nulla id malesuada ullamcorper. Nam vel risus posuere, maximus ex quis, commodo ex.</p>
            </div>
        </center>
    </div>
</div>
{% endblock %}